/* ============================  */
/* == G O B A L  S T Y L E S ==  */
/* ============================  */

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}

li {
	padding:0;
	margin:0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease-out;
}
a:hover {
  color: gold;
  text-decoration: none;
}
a:focus {
  color: #fff;
}


h2 {
  color: #ccc;
  font-family: 'Thasadith', sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
  letter-spacing: 5px;
}


.container {
  width: 95%;
  margin: 0 auto;
  color: #eee;
  font-family: 'Raleway', sans-serif;
}


/* ==== FIXED SIDE CONTENT ===  */
/* = END FIXED SIDE CONTENT ==  */

/* ======== FOOTER ===========  */
/* ====   END FOOTER  ========  */

/* ========== E N D ===========  */
/* ===G O B A L  S T Y L E S===  */
/* ============================  */




/* ============================  */
/* === N A V I G A T I O N ====  */
/* ========(global)============  */

/* ======== LOGO ICON =========  */
.brand-name img {
  position: relative;
  width: 120px;
  margin-left: 10px;
  padding: 0;
  /* animation */
  animation: brand-name;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes brand-name {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* 'home button' and logo inside overlay nav menu*/
.logo-menu {
  margin-top: 40px;
}
.logo-menu img {
  height: 50px;
}
/* ===== END LOGO ICON ========  */

/* ========= NAV MENU =========  */
.brand-name {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  width: 100%;
  position: absolute;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
	color: #333;
	display: inline-block;
	padding: 1em 3em;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
	font-size: 16px;
}

/* ======= toggle button ======  */
.toggle-button {
	display: inline;
	position: fixed;
	right: -5px;
	top: -10px;
	z-index: 999;
	font-size: 30px;
}

.toggle-button a {
	text-decoration: none;
}

.btn-open:after {
	color: #fff;
  position: absolute;
  padding: 15px;
  right: 25px;
  opacity: .6;
	content: "\f142";
	font-family: "FontAwesome";
  top: 30px;
  font-size: 20px;
  transition: 1.5s;
  -webkit-transition: 1s; /* Safari */
}

.btn-open:hover:after {
	color: #ffd966;
  opacity: 1;
}


.btn-close:hover:after {
	color: #fff;
}

a.btn-close {
  z-index: 9999;
}
/* ==== end toggle button =====  */

/*overlay*/
.overlay-bg {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
  opacity: .9;
	overflow: auto;
	z-index: 99;
}
.wrap {
	color: #e9e9e9;
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}
.wrap ul.wrap-nav {
	border-bottom: 1px solid #575757;
	text-transform: uppercase;
	padding: 150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 24%;
	position: relative;
}
.wrap ul.wrap-nav li a {
	color: #fff;
  font-family: 'Raleway', sans-serif;
	display: block;
	padding: 8px 0;
	text-decoration: none;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color: #f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding: 20px 0;
}
.wrap ul.wrap-nav ul li {
	display: block;
	font-size: 13px;
	width: 100%;
	color: #e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color: #f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	opacity: .5;
}

/* home & exit icon on overlay menu */
.menu-icon-div {
  display: flex;
  justify-content: space-between;
}
.home-icon,
.exit-icon {
  color: #fff;
  content: '\f015';
	font-family: "FontAwesome";
  font-size: 20px;
  opacity: .7;
}
/* end */

/* SOCIAL MEDIA ICON STYLES (.socialMedia is the DIV) */
.socialMedia {
  padding: 15px;
}
.socialMedia a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}
.socialMedia p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.socialMedia p,
.socialMedia .cell,
.socialMedia .mail {
  font-size: 15px;
}
/* social media icon li/ul */
.socialMedia ul {
  list-style: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #000;
  opacity: 0.9;
}
.socialMedia li {
  display: inline-block;
  padding-right: 20px;
}
.socialMedia li:last-child {
  padding-right: 0px;
}
/* social media icons */
.facebook:before {
  content: "\f082";
  font-family: FontAwesome;
  padding-right: 0;
}
.instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
}
.yelp:before {
  content: "\f1e9";
  font-family: FontAwesome;
  padding-right: 0px;
}
/* social media hover effects  */
.facebook:hover, .instagram:hover, .yelp:hover {
  text-decoration: none;
  color: #fff;
  opacity: .5;
}

/* hides side menu (made for large screen) */
.side-menu {
  display: none;
}
/* ======= END NAV MENU =======  */

/* ========= E N D ============  */
/* === N A V I G A T I O N ====  */
/* ============================  */





/* ============================  */
/* ==== H O M E P A G E  ======  */
/* ============================  */

.backdrop {
  background-image: url('img/landingimg.jpeg');
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* text styles */
  font-family: 'Thasadith', sans-serif;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
}

/* MISSION TEXT */
.mission-text {
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 60%;
  right: 25%;
  transform: translate(-50% -50%);
}
.mission-text p {
  display: inline-block;
  text-align: center;
  opacity: .5;
}
.mission-text:after{
  content: 'lashes';
  animation-name: we-do;
  -webkit-animation-name: we-do;
  -webkit-animation-duration: 3s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes we-do {
  0% {content: "lashes";}
  50% {content: "brows";}
  100% {content: "sugaring";}
}
/*  END MISSION TEXT */

/*  ACTION BUTTON */
.action-btn {
  display: block;
  text-align: center;
  border-bottom: #fff 1px solid;
  padding-bottom: 20px;
  transition: color 2s;
  /* animation */
  animation-name: action-btn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.action-btn:hover {
  color: gold;
  text-decoration: none;
}
.action-btn:focus {
  text-decoration: none;
  color: #fff;
}
@keyframes action-btn {
  0% {opacity: 0; width: 100%;}
  100% {opacity: .8; width: 50%;}
}

.view-services-btn {
  position: absolute;
  top: 70%;
  right: 35%;
  transform: translate(-50% -50%);
}
/*  END ACTION BUTTON */

/* SECTION HEADING STYLES */
#about,
#lash-extentions,
#microblading,
#wax,
#add-ons,
#portfolio {
  min-height: 300px;
  padding: 50px 0;
}
/* END SECTION HEADING STYLES */

.more-sugar-btn {
  margin: 40px auto 0 auto;
  width: 200px;

}

/* ============================  */
/* = S E R V I C E S  P A G E =  */
/* ======(services.html)=======  */

#lash-extentions {
  padding-top: 120px;
}

.sideNote p {
  text-align: left;
  opacity: .5;
  font-size: .7em;
  letter-spacing: .5px;
  margin: 0 auto;
  padding: 5px;
}

/* TABLE STYLES */
table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin:  0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table tr {
  padding: .1em;
}
/* makes the service item stand out*/
table td:first-child {
  font-family: 'Thasadith', serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  color: gold;
  opacity: .7;
  padding: 10px;
}
td::before {
  font-family: 'Thasadith', serif;
}
td span {
  font-size: 10px;
  opacity: .5;
}
/* price cells */
td {
  padding: 10px;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 1em;
  text-align: center;
}
table tr {
  text-align: center;
  font-size: 20px;
  font-family: 'Thasadith', serif;
}
/*  END TABLE STYLES */

/* ========== E N D ===========  */
/* ===== S E R V I C E S ======  */
/* ============================  */

/* ============================  */
/* ======= P O L I C Y ========  */
/* =======(policy.html)========  */

#policy {
  margin-top: 140px;
  padding: 30px;
  background-color: #fff;
}
#policy h2 {
  color: gray;
}
#policy p {
  color: #000;
}

/* ========== E N D ===========  */
/* ======= P O L I C Y ========  */
/* ============================  */

/* ============================  */
/* ==== P O R T F O L I O  ====  */
/* ============================  */
#portfolio{

}

.more-photos-btn {
  margin: 40px auto 0 auto;
}

#portfolio-img-div {

}

.mySlides {
  display:none;
}
/* =========== E N D ==========  */

/* =========== E N D ==========  */
/* ==== P O R T F O L I O  ==== */
/* ============================  */



/* ============================  */
/* ====== F O O T E R  ========  */
/* ============================  */

footer {
  height: 200px;
}

/* email and phone icons */
.cell:before {
  content: "\f095";
}
.mail:before {
  content: "\f0e0";
}
.cell:before,
.mail:before {
  font-family: FontAwesome;
  padding-right: 5px;
  color: gray
}
.contact {
  padding: 40px;
}
.contact span,
.contact p,
.location {
  color: gray;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
}
.contact p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 2px;
  text-transform: uppercase;
}

/* hover effect for phone and email icons */
.location:hover,
a[href^="mailto:"]:hover,
a[href^="tel:"]:hover {
  text-decoration: none;
  opacity: .5;
}

.copyright {
  color: #ccc;
  font-size: .7em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
}


/* =========== E N D ==========  */
/* ======== F O O T E R  ======  */
/* ============================  */





/* ****************************  */
/* ============================  */
/* === A B O U T  P A G E =====  */
/* ============================  */
/* ****************************  */

/* .row {
  margin-top: 80px;
}

div.card-img-overlay {
    padding: none;
}

.card {
  margin-top: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.card:hover {
  transition: opacity 0.4s ease-out;
  opacity: .5;
}

.card-title {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 4px;
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  width: 70%;
  margin: 50px auto 0 auto;
}

p.card-text {
  font-family: 'Poiret One', cursive;
  letter-spacing: 3px;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,.3);
  width: 70%;
  margin: 20px auto 0 auto;
}

.about_us_Card{
  background-size: cover;
  background-position: center;
  background-image: url('./img/aboutusimg.jpg');
  height: 300px;
}

.policy_Card {
  background-size: cover;
  background-position: center;
  background-image: url('./img/policyimg.jpg');
  height: 300px;
}

.message_us_Card {
  background-size: cover;
  background-position: center;
  background-image: url('./img/messageusimg.jpg');
  height: 300px;

} */

/* ****************************  */
/* ============================  */
/* === A B O U T  P A G E =====  */
/* =======   E N D  ===========  */
/* ****************************  */



/* ============================  */
/* === A B O U T  P A G E =====  */
/* ====== a b o u t  u s ======  */


/* #about_div h3 {
  color: #ccc;
  font-family: 'Julius Sans One', sans-serif;
  font-size: .8em;
}

#about_div p {
  color: #ddd;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  font-size: .85em;
  margin-bottom: 50px;
}

#about_div img {
  width: 99.9%;
  margin: 0 auto;
  display: block;
} */

/* ========== E N D ===========  */
/* === A B O U T  P A G E =====  */
/* ====== a b o u t  u s ======  */




/* ============================  */
/* === A B O U T  P A G E =====  */
/* === m e s s a g e   u s ====  */

/* #leave-message-div {
  margin-top: 60px;
}

.messanger {
  height: 500px;
  background-color: #fff;
} */


/* ========== E N D ===========  */
/* === A B O U T  P A G E =====  */
/* === m e s s a g e   u s ====  */


/* ============================  */
/* == M E D I A Q U R I E S  ==  */
/* ============================  */

@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:10px 0px 0px;
	}
	nav ul {
		opacity:0;
		visibility:hidden;
	}
}

@media screen and (min-width: 768px) {


  nav {
    display: flex;
    justify-content: center;
  }

  .logo {
    position: absolute;
    left: 5px;
  }

  .toggle-button {
    position: absolute;
    right: 45%;
  }

  .side-menu {
    color: #fff;
    display: flex;
    float: right;
    padding: 20px;
  }

  .side-menu li {
    padding: 5px 0;
  }

  .side-menu a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    opacity: .5;
    transition: none;
    padding: 0 5px;

  }

  .side-menu a:hover {
    color: #fff;
  }

  .side-menu a.selected {
    color: gold;
  }

  /* ****************************  */
  /* ============================  */
  /* === A B O U T  P A G E =====  */
  /* ============================  */
  /* ****************************  */

  .row {
    height: 470px;
    margin-top: 100px;
  }

  .container {
    width: 90%;
    padding-left: 0;
  }

  .card {
    margin-left: 30px;
  }

  .card:hover {
    transition: opacity 0.4s ease-out;
    opacity: .5;
  }

  .card-title {
    padding: 10px;
    width: 95%;
    margin-top: 50px;
  }

  p.card-text {
    width: 95%;
    font-size: .7em;
  }

  .about_us_Card{
    background-size: cover;
    background-position: center;
    background-image: url('./img/aboutusimg.jpg');
    height: 300px;
  }

  .policy_Card {
    background-size: cover;
    background-position: center;
    background-image: url('./img/policyimg.jpg');
    height: 300px;
  }

  .message_us_Card {
    background-size: cover;
    background-position: center;
    background-image: url('./img/messageusimg.jpg');
    height: 300px;

  }

  /* ****************************  */
  /* ============================  */
  /* === A B O U T  P A G E =====  */
  /* =======   E N D  ===========  */
  /* ****************************  */


}


@media screen and (max-width: 1060px) {
  .tableWrapper {
    padding: 100px;
  }
}

@media screen and (max-width: 651px) {


  .tableWrapper {
    padding: 40px;
  }

  .tableWrapper p {
    text-align: left;
  }

  .sideNote {
    line-height: normal;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {

  .tableWrapper {
    padding: 10px;
  }

  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
    opacity: .8;
  }

  table tr:first-child {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    opacity: .8;
  }

  table td {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    font-size: .8em;
    text-align: left;
  }

  table td::before {
    content: attr(data-label);
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
