/* ============================  */
/* == G O B A L  S T Y L E S ==  */
/* ============================  */

body {
  background-color: #000;
  margin: 0;
}

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
a {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease-out;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  color: #eee;
  font-family: 'Raleway', sans-serif;
}
/* ==== FIXED SIDE CONTENT ===  */
/* = END FIXED SIDE CONTENT ==  */

/* ======== FOOTER ===========  */
/* ====   END FOOTER  ========  */

/* ========== E N D ===========  */
/* ===G O B A L  S T Y L E S===  */
/* ============================  */




/* ============================  */
/* === N A V I G A T I O N ====  */
/* ============================  */

/* ======== LOGO ICON =========  */
.logo {
  margin: 10px;
}
/* ===== END LOGO ICON ========  */

/* ========= NAV MENU =========  */
nav {
  height: 70px;
  background: linear-gradient(to bottom, rgba(0,0,0,.9) 0%,rgba(0,0,0,0) 100%);
  width: 100%;
    position: fixed;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
	color: #333;
	display: inline-block;
	padding: 1em 3em;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
	font-size: 16px;
}

nav ul li a:hover {
	color: #34B484;
}

/* ======= toggle button ======  */
.toggle-button {
	display: inline;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 999;
	font-size: 30px;
}

.toggle-button a {
	text-decoration: none;
}

.btn-open:after {
	color: #fff;
	content: "\f0c9";
	font-family: "FontAwesome";
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

.btn-open:hover:after {
	color: gold;
}

.btn-close:after {
	color: #fff;
	content: '\f00d';
	font-family: 'FontAwesome';
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
}

.btn-close:hover:after {
	color: #fff;
  position: fixed;
}
/* ==== end toggle button =====  */

/*overlay*/
.overlay-bg {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
  opacity: .9;
	overflow: auto;
	z-index: 99;
}
.wrap {
	color: #e9e9e9;
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}
.wrap ul.wrap-nav {
	border-bottom: 1px solid #575757;
	text-transform: uppercase;
	padding: 150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 24%;
	position: relative;
}
.wrap ul.wrap-nav li a {
	color: #fff;
  font-family: 'Raleway', sans-serif;
	display: block;
	padding: 8px 0;
	text-decoration: none;
	transition-property: all .2s linear 0s;
	-moz-transition: all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color: #f0f0f0;
}

.wrap ul.wrap-nav ul {
	padding: 20px 0;
}

.wrap ul.wrap-nav ul li {
	display: block;
	font-size: 13px;
	width: 100%;
	color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
	color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
	opacity: .5;
}

/* SOCIAL MEDIA ICON STYLES (.socialMedia is the DIV) */

.socialMedia {
  padding: 15px;
}

.socialMedia a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.socialMedia p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.socialMedia p,
.socialMedia .cell,
.socialMedia .mail {
  font-size: 15px;
}

.socialMedia ul {
  list-style: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #000;
  opacity: 0.9;
}

.socialMedia li {
  display: inline-block;
  padding-right: 20px;
}

.socialMedia li:last-child {
  padding-right: 0px;
}

/* social media icons */
.facebook:before {
  content: "\f082";
  font-family: FontAwesome;
  padding-right: 0;
}

.instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
}

.yelp:before {
  content: "\f1e9";
  font-family: FontAwesome;
  padding-right: 0px;
}

/* social media hover effects  */
.facebook:hover, .instagram:hover, .yelp:hover {
  text-decoration: none;
  color: #fff;
  opacity: .5;
}
/* ======= END NAV MENU =======  */

/* ========= E N D ============  */
/* === N A V I G A T I O N ====  */
/* ============================  */





/* ============================  */
/* ==== H O M E P A G E  ======  */
/* ============================  */

.backdrop {
  background-image: url('img/landingimg.jpeg');
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#section-1 {
  color: #fff;

}

/* =========== E N D ==========  */
/* ==== H O M E P A G E  ======  */
/* ============================  */

/* ============================  */
/* ====== F O O T E R  ========  */
/* ============================  */

footer {
  height: 200px;
}

/* email and phone icons */
.cell:before {
  content: "\f095";
}

.mail:before {
  content: "\f0e0";
}

.cell:before,
.mail:before {
  font-family: FontAwesome;
  padding-right: 5px;
  color: gray
}

.contact {
  padding: 40px;
}

.contact span,
.contact p,
.location {
  color: gray;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
}

.contact p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 2px;
  text-transform: uppercase;
}

/* hover effect for phone and email icons */
.location:hover,
a[href^="mailto:"]:hover,
a[href^="tel:"]:hover {
  text-decoration: none;
  opacity: .5;
}

.copyright {
  color: #ccc;
  font-size: .7em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
}


/* =========== E N D ==========  */
/* ======== F O O T E R  ======  */
/* ============================  */

/* ============================  */
/* == M E D I A Q U R I E S  ==  */
/* ============================  */

@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	nav ul {
		opacity:0;
		visibility:hidden;
	}
}






/* ============================  */
/* === A B O U T  P A G E =====  */
/* ============================  */

#about_div {
  margin-top: 80px;
}

#about_div h2,
#about_contact h2 {
  color: #ccc;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
}

#about_div h3 {
  color: #ccc;
  font-family: 'Julius Sans One', sans-serif;
  font-size: .8em;
  margin-bottom: -10px;
}

#about_div p {
  color: #ddd;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  font-size: .85em;
  margin-bottom: 50px;
}

#about_div img {
  width: 99.9%;
  margin: 0 auto;
  display: block;
}

#about_contact .messanger {
  height: 300px;
  background-color: #fff;
}
/* ========== E N D ===========  */
/* === A B O U T  P A G E =====  */
/* ============================  */
